<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <!--//???-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SprzedaneServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SprzedaneServiceEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SprzedaneServiceBehaviour" name="Sprzedane.SprzedaneService">
        <endpoint address="" behaviorConfiguration="SprzedaneServiceEndpointBehavior" binding="webHttpBinding" name="ServiceEndpoint" contract="Sprzedane.ISprzedaneService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="SprzedaneEntities2" connectionString="metadata=res://*/SprzedaneModel.csdl|res://*/SprzedaneModel.ssdl|res://*/SprzedaneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TASy-Projekt.mssql.somee.com;initial catalog=TASy-Projekt;persist security info=True;user id=mike0black_SQLLogin_1;password=fxvrx4p2zz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SprzedaneEntities" connectionString="metadata=res://*/SprzedaneModel.csdl|res://*/SprzedaneModel.ssdl|res://*/SprzedaneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TASy-Projekt.mssql.somee.com;initial catalog=TASy-Projekt;persist security info=False;user id=mike0black_SQLLogin_1;password=fxvrx4p2zz;packet size=4096;workstation id=TASy-Projekt.mssql.somee.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>