@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Wyszukiwanie po nazwie";
}

<h2>Wyszukiwanie przedmiotów po nazwie</h2>

<ul>
    @foreach (SprzedaneWebMVC.Models.Przedmiot wynik in ViewBag.Lista)
    {
        <li>@wynik.Nazwa, Kategoria: @wynik.Kategoria, Cena: @wynik.Cena zł </li>
    }
</ul>

